*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.main-img{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img1.png');
    background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     margin-bottom: 100px;
}
header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    color: white;

}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 400px;
   animation: navul 4s;
}

@keyframes navul {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
nav ul button{
    padding: 10px 25px;
    background-color: #FF4D01;
    border-color: #FF4D01;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 150px;
    gap: 30px;
}

.logo h1{
    font-size: 50px;
    animation: h1 4s;
    animation-delay:1s ;
}
@keyframes h1 {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.logo p{
      animation: p 4s;
    animation-delay:2s ;  
}
@keyframes p {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.btns button{
    padding: 10px 20px;
    gap: 30px;
    background: transparent;
    border: 2px solid white;
    color: white;
}

.btns button:hover{
    padding: 15px 25px;
    transition: 1s;
}
/* 2-qator boshlanishi */

.logos{
   width: 100%;
   height: 90vh ;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 100px;
   line-height: 30px;
    margin-bottom: 150px ;

}

.logos1 img{
    animation: img1 6s;
    animation-delay: 4s;
}
 @keyframes img1 {
    0%{
        transform: translateY(0px);
        opacity: 0;
    }100%{
        transform: translateY(0);
        opacity: 1;
    }
}
 .logos h4{
    animation: h4 3s;
    animation-delay: 4s;
 }
 @keyframes h4 {
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.logos h1{
    padding-top: 20px;
    animation: h11 4s;
    animation-delay: 4s;
}
 @keyframes h11 {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.logos p{
    padding-bottom: 100px;
    padding-top: 40px;
     animation: pi 4s;
    animation-delay: 4s;
}
 @keyframes pi {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.logos-img{
    display: flex;
    flex-direction: row;
    gap: 100px;
     animation: img 4s;
    animation-delay: 4s;

}
 @keyframes img {
    0%{
        transform: translateY(200px);
        opacity: 0;
    }100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.logos-img img{
    padding-bottom: 70px;
}


.btn button{
    background: transparent;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
}
.btn button:hover{
    padding: 15px 25px;
    transition: 1s;
}

/* 3-qator boshnalishi */
.box{
    width: 100%;
    height: 100vh;
    gap: 100px;
    padding: 50px 150px;
}

.box0{
    display:flex ;
    align-items: start;
    justify-content: center;
    gap: 150px;
    margin-bottom: 100px;
}

.box1{
    display: flex;
    padding-left: 60px;
    padding-bottom: 80px;
    animation: BIRINCHI 3s;
    animation-delay: 5s;
}
 @keyframes BIRINCHI {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.boxc h4{
    display: flex;
    padding-left: 70px;
    padding-bottom: 10px;
        animation: BIRINCHI 3s;
    animation-delay: 5s;
}

.btns2{
    padding-left: 500px;
}
 .btns2 button{
    background: transparent;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
 }

 .btns2 button:hover{
    padding: 15px 25px;
    transition: 1s;
 }
 .box0{
     animation: box0 3s;
    animation-delay: 6s;
 }
  @keyframes box0 {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
 .box01{
    display:flex ;
    align-items: start;
    justify-content: center;
    gap: 150px;
     animation: box01 3s;
    animation-delay: 7s;
}
  @keyframes box01 {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.box3{
    line-height: 30px;
}