*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.main-img{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img1.png');
    background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    color: white;

}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 400px;

}
nav ul button{
    padding: 10px 25px;
    background-color: #FF4D01;
    border-color: #FF4D01;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 150px;
    gap: 30px;
}

.logo h1{
    font-size: 50px;
}

.btns button{
    padding: 10px 20px;
    gap: 30px;
    background: transparent;
    border: 2px solid white;
    color: white;
}

.btns button:hover{
    padding: 15px 25px;
    transition: 1s;
}
