*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.main-img{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img1.png');
    background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     margin-bottom: 100px;
}
header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    color: white;

}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 400px;
   animation: navul 4s;
}

@keyframes navul {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
nav ul button{
    padding: 10px 25px;
    background-color: #FF4D01;
    border-color: #FF4D01;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 150px;
    gap: 30px;
}

.logo h1{
    font-size: 50px;
    animation: h1 4s;
    animation-delay:1s ;
}
@keyframes h1 {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.logo p{
      animation: p 4s;
    animation-delay:2s ;  
}
@keyframes p {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.btns button{
    padding: 10px 20px;
    gap: 30px;
    background: transparent;
    border: 2px solid white;
    color: white;
}

.btns button:hover{
    padding: 15px 25px;
    transition: 1s;
}


.logos{
   width: 100%;
   height: 90vh ;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 100px;
   line-height: 30px;
}

.logos p{
    padding-bottom: 100px;
    padding-top: 40px;
}

.logos-img{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.logos-img img{
    padding-bottom: 70px;
}
.btn button{
    background: transparent;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
}
